<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.appinfodb.dao.dev_user.Dev_UserMapper">
	<select id="doLogin" resultType="dev_User">
		select * from dev_user where devCode=#{devCode} and devPassword=#{devPassword}
	</select>
</mapper>