<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.appinfodb.dao.app_info.App_InfoMapper">
	<!-- 根据条件查询App信息列表 -->
	<select id="getApp_InfoList" parameterType="App_Info" resultMap="App_InfoList">
		select info.id,info.APKName,info.softwareName,info.softwareSize,info.`status`,info.downloads,
		dictionary.valueName as flatformName,dictionary1.valueName as statusName,
		category1.categoryName as categoryLevel1Name,category2.categoryName as categoryLevel2Name,category3.categoryName as categoryLevel3Name,
		version.versionNo,info.versionId from 
		app_info info  inner join
		data_dictionary dictionary inner join
		data_dictionary dictionary1 inner JOIN
		app_category category1 inner join
		app_category category2 inner join
		app_category category3 LEFT JOIN 
		app_version version on info.versionId=version.id
		where 
		info.flatformid = dictionary.valueId AND 
		dictionary.typeName = '所属平台' AND
		info.`status` = dictionary1.valueId AND
		dictionary1.typeName = 'APP状态' AND
		category1.id = info.categoryLevel1 and
		category2.id = info.categoryLevel2 and
		category3.id = info.categoryLevel3
			<if test="softwareName!=null and softwareName!=''">and info.softwareName LIKE CONCAT('%',#{softwareName},'%')</if>
			<if test="status!=null and status!=''">and info.`status`=#{status}</if>
			<if test="flatformId!=null and flatformId!=''">and info.flatformId=#{flatformId}</if>
			<if test="categoryLevel1!=null and categoryLevel1!=''">and info.categoryLevel1=#{categoryLevel1}</if>
			<if test="categoryLevel2!=null and categoryLevel2!=''">and info.categoryLevel2=#{categoryLevel2}</if>
			<if test="categoryLevel3!=null and categoryLevel3!=''">and info.categoryLevel3=#{categoryLevel3}</if>
		ORDER BY info.id
		LIMIT #{currentPageNo},#{PageSize}
	</select>
	<!-- 根据条件查询app信息数量 -->
	<select id="getApp_InfoCount" parameterType="App_Info" resultType="Integer">
		SELECT COUNT(1) FROM app_info info
		<where>
			<if test="softwareName!=null and softwareName!=''">and info.softwareName LIKE CONCAT('%',#{softwareName},'%')</if>
			<if test="status!=null and status!=''">and info.`status`=#{status}</if>
			<if test="flatformId!=null and flatformId!=''">and info.flatformId=#{flatformId}</if>
			<if test="categoryLevel1!=null and categoryLevel1!=''">and info.categoryLevel1=#{categoryLevel1}</if>
			<if test="categoryLevel2!=null and categoryLevel2!=''">and info.categoryLevel2=#{categoryLevel2}</if>
			<if test="categoryLevel3!=null and categoryLevel3!=''">and info.categoryLevel3=#{categoryLevel3}</if>
		</where>
	</select>
	<insert id="addApp_Info" parameterType="App_Info">
		insert into 
		app_info(softwareName,APKName,supportROM,interfaceLanguage,softwareSize,devId,appInfo,`status`,
		flatformId,categoryLevel1,categoryLevel2,categoryLevel3,downloads,createdBy,creationDate,logoPicPath,logoLocPath)
		VALUES (#{softwareName},#{APKName},#{supportROM},#{interfaceLanguage},#{softwareSize},#{createdBy},#{appInfo},#{status},
		#{flatformId},#{categoryLevel1},#{categoryLevel2},#{categoryLevel3},#{downloads},#{createdBy},#{creationDate},#{logoPicPath},#{logoLocPath})
	</insert>
	<select id="getApp_InfoByAPKName" resultType="App_Info">
		SELECT id,softwareName,APKName FROM app_info WHERE APKName=#{APKName}
	</select>
	<select id="getApp_InfoById" resultType="App_Info">
		SELECT info.*,dictionary1.valueName as statusName,
		(SELECT categoryName FROM app_category WHERE app_category.id=info.categoryLevel1) as categoryLevel1Name,
		(SELECT categoryName FROM app_category WHERE app_category.id=info.categoryLevel2) as categoryLevel2Name,
		(SELECT categoryName FROM app_category WHERE app_category.id=info.categoryLevel3) as categoryLevel3Name,
		dictionary2.valueName as flatformName
		FROM app_info info inner join data_dictionary dictionary1 inner join data_dictionary dictionary2
		where info.id=#{id} and info.`status` = dictionary1.valueId AND dictionary1.typeName = 'APP状态' 
		and info.flatformId = dictionary2.valueId AND dictionary2.typeName = '所属平台'
	</select>
	<update id="modifyApp_Info" parameterType="App_Info">
		UPDATE app_info 
		 <trim prefix="set" suffixOverrides="," suffix="where id=#{id}">
		 	<if test="softwareName!=null and softwareName!=''">softwareName=#{softwareName},</if>
		 	<if test="supportROM!=null and supportROM!=''">supportROM=#{supportROM},</if>
		 	<if test="interfaceLanguage!=null and interfaceLanguage!=''">interfaceLanguage=#{interfaceLanguage},</if>
		 	<if test="softwareSize!=null and softwareSize!=''">softwareSize=#{softwareSize},</if>
		 	<if test="appInfo!=null and appInfo!=''">appInfo=#{appInfo},</if>
		 	<if test="status!=null and status!=''">`status`=#{status},</if>
		 	<if test="flatformId!=null and flatformId!=''">flatformId=#{flatformId},</if>
		 	<if test="categoryLevel1!=null and categoryLevel1!=''">categoryLevel1=#{categoryLevel1},</if>
		 	<if test="categoryLevel2!=null and categoryLevel2!=''">categoryLevel2=#{categoryLevel2},</if>
		 	<if test="categoryLevel3!=null and categoryLevel3!=''">categoryLevel3=#{categoryLevel3},</if>
		 	<if test="downloads!=null and downloads!=''">downloads=#{downloads},</if>
		 	<if test="onSaleDate!=null and onSaleDate!=''">onSaleDate=#{onSaleDate},</if>
		 	<if test="offSaleDate!=null and offSaleDate!=''">offSaleDate=#{offSaleDate},</if>
		 	<if test="modifyBy!=null and modifyBy!=''">modifyBy=#{modifyBy},</if>
		 	<if test="modifyDate!=null and modifyDate!=''">modifyDate=#{modifyDate},</if>
		 </trim>
	</update>
	<update id="modifyApp_InfoByVersionId">
		UPDATE app_info SET versionId=#{versionId} WHERE id=#{id}
	</update>
	<delete id="delApp_Info">
		DELETE FROM app_info WHERE id=#{id}
	</delete>
	<resultMap type="App_Info" id="App_InfoList"></resultMap>
</mapper>